/* Nascondi la barra laterale a sinistra */
.md-sidebar--primary {
    display: none;
}

.md-header-nav__source, .md-search {
    display: none !important;
}

/* Giustifica il contenuto del testo */
.md-typeset p, .md-typeset li {
    text-align: justify;
}

/* Giustifica anche i titoli, se necessario */
.md-typeset h1, .md-typeset h2, .md-typeset h3, .md-typeset h4, .md-typeset h5, .md-typeset h6 {
    text-align: justify;
}

.text-and-image-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .text-content {
    flex: 1;
    margin-right: 20px; /* Spazio tra il testo e l'immagine */
  }
  
  .image-content img {
    width: auto; /* Imposta la larghezza dell'immagine */
    height: 150px; /* Mantiene le proporzioni dell'immagine */
  }
  